<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.zebraprint.epsilonnet"

    version="3.49">

    <name>ZebraBluetoothPrinter</name>
	<description>A Cordova/Phonegap driver for Zebra bluetooth printers</description>
    <license>Apache</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>    

    

    <!-- android -->
    <platform name="android">

		<js-module src="www/zbtprinter.js" name="ZebraBluetoothPrinter">
			<clobbers target="cordova.plugins.zbtprinter2" />
		</js-module>
	
	
      <config-file target="AndroidManifest.xml" parent="/*">
         <uses-permission android:name="android.permission.BLUETOOTH" />
      </config-file>
	  <source-file src="src/android/com/zebraprint/epsilonnet/ZebraBluetoothPrinter.java" target-dir="src/android/com/zebraprint/epsilonnet" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ZebraBluetoothPrinter">
                <param name="android-package" value="com.zebraprint.epsilonnet.ZebraBluetoothPrinter" />
            </feature>
        </config-file>

        <source-file src="src/android/ZSDK_ANDROID_API.jar" target-dir="libs"/>
    </platform>
	
	
	<!-- ios -->
    <platform name="ios">

		<config-file target="config.xml" parent="/*">
            <feature name="ZebraBluetoothPrinter">
                <param name="ios-package" value="EpsilonPrinter" />
            </feature>
        </config-file>
	
		<js-module src="www/ios/zbtprinter.js" name="ZebraBluetoothPrinter">
			<clobbers target="cordova.plugins.zbtprinter2" />
		</js-module>
		
		<header-file src="src/ios/com/zebraprint/epsilonnet/EpsilonPrinter.h" />
		<source-file src="src/ios/com/zebraprint/epsilonnet/EpsilonPrinter.m" />
		
		<header-file src="src/ios/com/zebraprint/epsilonnet/MfiBtPrinterConnection.h" framework="true"/>
		
		<header-file src="src/ios/com/zebraprint/epsilonnet/ZebraPrinterConnection.h" framework="true"/>
		
		<header-file src="src/ios/com/zebraprint/epsilonnet/PrinterStatus.h" framework="true"/>
		
		<header-file src="src/ios/com/zebraprint/epsilonnet/ZebraPrinterFactory.h" framework="true"/>
		
	    <header-file src="src/ios/com/zebraprint/epsilonnet/ZebraPrinter.h" framework="true"/>
		
			    <header-file src="src/ios/com/zebraprint/epsilonnet/DiscoveredPrinter.h" framework="true"/>
					    <header-file src="src/ios/com/zebraprint/epsilonnet/DiscoveredPrinterNetwork.h" framework="true"/>
							    <header-file src="src/ios/com/zebraprint/epsilonnet/FieldDescriptionData.h" framework="true"/>
									    <header-file src="src/ios/com/zebraprint/epsilonnet/FileUtil.h" framework="true"/>
											    <header-file src="src/ios/com/zebraprint/epsilonnet/FormatUtil.h" framework="true"/>
													    <header-file src="src/ios/com/zebraprint/epsilonnet/GraphicsUtil.h" framework="true"/>
															    <header-file src="src/ios/com/zebraprint/epsilonnet/MagCardReader.h" framework="true"/>
																<header-file src="src/ios/com/zebraprint/epsilonnet/NetworkDiscoverer.h" framework="true"/>
																<header-file src="src/ios/com/zebraprint/epsilonnet/PrinterStatusMessages.h" framework="true"/>
																<header-file src="src/ios/com/zebraprint/epsilonnet/SGD.h" framework="true"/>
																<header-file src="src/ios/com/zebraprint/epsilonnet/SmartCardReader.h" framework="true"/>
																<header-file src="src/ios/com/zebraprint/epsilonnet/TcpPrinterConnection.h" framework="true"/>
																<header-file src="src/ios/com/zebraprint/epsilonnet/ToolsUtil.h" framework="true"/>
																<header-file src="src/ios/com/zebraprint/epsilonnet/ZebraErrorCode.h" framework="true"/>
																<header-file src="src/ios/com/zebraprint/epsilonnet/ZplPrintMode.h" framework="true"/>
		
		<source-file src="src/ios/com/zebraprint/epsilonnet/libZSDK_API.a" framework="true"/>
		<framework src="Foundation.framework" />
		<framework src="QuartzCore.framework" />
		<framework src="ExternalAccessory.framework" />
		
		 <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
            <array>
                <string>com.zebra.rawport</string>
            </array>
        </config-file>
        
    </platform>
	
	
</plugin>
